
<div class="row wrapper border-bottom white-bg page-heading" ng-cloak> 
    <div class="col-sm-4 col-lg-4 col-xs-10">
                    <h2>HISTORIAL</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="">LLAMADAS</a>
                        </li>
                        <li class="active">
                            <strong>HISTORIAL</strong>
                        </li>
                    </ol>
     </div>
    <div class="col-sm-8 col-lg-8 col-xs-2">
                    <div class="title-action down-icon">
                        <a data-toggle="collapse" href="#collapseExample" aria-expanded="true" class=""><span class="glyphicon glyphicon-question-sign"></span></a>
                    </div>
                </div>
    </div>
  <div class="collapse bg-cont" id="collapseExample" aria-expanded="true">
              <div class="card card-block qpr">
                 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
              </div>
</div>       
<div ng-init="getdata();">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div class="head-btn">
                            <a class="btn btn-sm btn-primary" ng-click=filterData(desde,hasta,filtro);><i class="fa fa-search"></i> Buscar</a>
                            <a class="btn btn-sm btn-danger"><i class="fa fa-download"></i></i> Exportar</a>
                        </div>
                        <div class="ibox-tools">             
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                             <div class="col-sm-4">
                                 <div class="form-group" id="data_1">
                                    <label class="font-noraml">Desde:</label>

                                    <div class="form-group">
                                          <div class='input-group date' id='datetimepicker1'>
                                           <span class="input-group-addon" id="sizing-addon1"><a data-toggle="collapse" href="#collapseExample1" aria-expanded="false" class="collapsed"><span class="glyphicon glyphicon-question-sign"></span></a></span>
                                              <input type='text' class="form-control" date-time data-ng-model="desde" 
                                               value="desde" id="date_desde" />
                                              <span class="input-group-addon">
                                                  <span class="glyphicon glyphicon-calendar"></span>
                                              </span>
                                          </div>
                                   </div>
                                    <div class="collapse bg-cont" id="collapseExample1" aria-expanded="true">
                                        <div class="card card-block qpr">
                                           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-sm-4">
                                 <div class="form-group" id="data_1">
                                    <label class="font-noraml">Hasta:</label>

                                    <div class="form-group">
                                          <div class='input-group date' id='datetimepicker2'>
                                            <span class="input-group-addon" id="sizing-addon1"><a data-toggle="collapse" href="#collapseExample2" aria-expanded="false" class="collapsed"><span class="glyphicon glyphicon-question-sign"></span></a></span>
                                              <input type='text' class="form-control" date-time data-ng-model="hasta" view="month"  value="hasta" id="date_hasta"/>
                                              <span class="input-group-addon">
                                                  <span class="glyphicon glyphicon-calendar"></span>
                                              </span>
                                          </div>
                                   </div>
                                    <div class="collapse bg-cont" id="collapseExample2" aria-expanded="true">
                                        <div class="card card-block qpr">
                                           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="font-noraml">Filtro:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" value="filtro" ng-model="filtro">
                                        <span class="input-group-addon" id="sizing-addon1"><a data-toggle="collapse" href="#collapseExample3" aria-expanded="false" class="collapsed"><span class="glyphicon glyphicon-question-sign"></span></a></span>
                                    </div>
                                    <div class="collapse bg-cont" id="collapseExample3" aria-expanded="true">
                                        <div class="card card-block qpr">
                                           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  
     <div class="collapse bg-cont in" id="collapseExample" aria-expanded="true" ng-show="IsVisible"  >
          <div class="card card-block qpr1 clearfix">
                <div class="pull-right close-btn"><a ng-click="ShowHide(1)"><i class="fa fa-times"></i></a></div>
                 <div class="col-lg-8 col-xs-12">
                        <audio id="audio" style="width: 100%;" controls="controls" preload="auto">
                             <source type="audio/mpeg" id="mp3">
                        </audio>
                 </div>
                 <div class="col-lg-4">  
                    <a  class="btn btn-primary btn-rounded" ng-href="{{audioURL}}" download="audio">Download</a>  
                 </div>    
            </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <div class="ibox float-e-margins">
                  <div class="ibox-title">
                      <h5>Llamadas <strong>Historial</strong></h5>

                     
                  </div>
                  <div class="ibox-content">
					<div class="table-responsive">
                      <table datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered table-hover dataTables-example">
                          <thead>
                           <tr>
                              <th>
                                 <a ng-click="sortBy('dialTime.time')">Fecha 
                                   <span class="sortorder" ng-show="propertyName === 'time'" ng-class="{reverse: reverse}"></span>
                                 </a>
                              </th>
                              <th>
                                   <a ng-click="sortBy('direction')">Dir 
                                   <span class="sortorder" ng-show="propertyName === 'direction'" ng-class="{reverse: reverse}"></span>
                                  </a>
                              </th>
                              <th width="75px">
                                   <a ng-click="sortBy('calling')">Nro Origen 
                                    <span class="sortorder" ng-show="propertyName === 'calling'" ng-class="{reverse: reverse}"></span>
                                   </a> 
                              </th>
                              <th>
                                <a ng-click="sortBy('callingName')">Origen 
                                  <span class="sortorder" ng-show="propertyName === 'callingName'" ng-class="{reverse: reverse}"></span>
                                </a>
                              </th>
                              <th>
                                <a ng-click="sortBy('called')">Nro Destino 
                                  <span class="sortorder" ng-show="propertyName === 'called'" ng-class="{reverse: reverse}"></span>
                                 </a>
                              </th>
                              <th>  <a ng-click="sortBy('calledName')">Destino 
                            <span class="sortorder" ng-show="propertyName === 'calledName'" 
                                `ng-class="{reverse: reverse}"></span>
                          </a></th>
                              <th>  <a ng-click="sortBy('status')">Estado 
                            <span class="sortorder" ng-show="propertyName === 'status'" ng-class="{reverse: reverse}"></span>
                          </a></th>
                              <th><a ng-click="sortBy('billSeconds')">Duración 
                                <span class="sortorder" ng-show="propertyName === 'billSeconds'" ng-class="{reverse: reverse}"></span>
                            </a></th>
                              <th><a ng-click="sortBy('price')">Precio 
                            <span class="sortorder" ng-show="propertyName === 'price'" ng-class="{reverse: reverse}"></span>
                          </a></th>
                              <th>
                                  <a ng-click="sortBy('wasRecorded')">Recor 
                            <span class="sortorder" ng-show="propertyName === 'wasRecorded'" ng-class="{reverse: reverse}"></span>
                          </a></th>

                              </th> 
                           </tr>
                           </thead>
                           <thead class="form-filter">
                           <tr>
                            <td></td>
                            <td>
                               <select ng-model="search.direction" class="form-control">
                                    <option value="">Please Select</option> 
                                    <option value="IN">Entrante</option>
                                    <option value="OUT">Salienta</option>
                              </select>
                            </td>
                            <td><input type="text" class="form-control" placeholder="" ng-model="search.calling"></td>
                            <td><input type="text" class="form-control" placeholder="" ng-model="search.callingName"></td>
                            <td><input type="text" class="form-control" placeholder="" ng-model="search.called"></td>
                            <td><input type="text" class="form-control" placeholder="" ng-model="search.calledName"></td>
                            <td>
                                <select name="statusfilter" ng-model="search.status" class="form-control">
                                    <option value="">Please Select</option> 
                                    <option value="ANSWER">Completeda</option>
                                    <option value="CONGESTION">Congestión</option>
                              </select>
                            </td>
                            <td><input type="text" class="form-control" placeholder="" ng-model="search.billSeconds"></td>
                            <td><input type="text" class="form-control" placeholder="" ng-model="search.price"></td>      
                            <td></td> 
                          </tr> 
                          </thead>
                          <tbody>
                          <tr ng-repeat="data in dataCdrs.result|filter:search|orderBy:propertyName:reverse">
                            <td>{{data.dialTime.time | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                            <td>{{data.direction === 'IN' ? 'Entrante' : 'Salienta'}}</td>
                            <td>{{data.calling}}</td>
                            <td>{{data.callingName}}</td>
                            <td>{{data.called}}</td>
                            <td>{{data.calledName}}</td>
                            <td>{{data.status === 'ANSWER' ? 'Completeda' : 'Congestion'}}</td>
                            <td>{{data.billSeconds > 0 ? duration_for(data.billSeconds) : '00:00:00'}}</td>
                            <td>{{data.price > 0 ? '$'+data.price : data.price}}</td>   
                            <td> 
                              <a ng-click="playAudioFile(data.id);ShowHide(2);" ng-if="data.wasRecorded === true"> <i class="fa fa-volume-up"></i></a> 
                            </td>   
                          </tr>
                         
                          </tbody>
            						  <tfoot>
            								<tr>
            								<td></td>
            								<td></td>
            								<td></td>
            								<td></td>
            								<td></td>
            								<td></td>
            								<td></td>
            								<td>{{duration_for(total_duration)}}</td>
            								<td>{{total_price > 0 ? '$'+total_price : total_price}}</td>   
            								<td></td>   
            							  </tr>
            						  </tfoot>
                      </table>
					</div>
                  <div data-pagination="" data-num-pages="numPages()" 
                    data-current-page="currentPage" data-max-size="maxSize"  
                    data-boundary-links="true"></div>
              </div>
          </div>
      </div>
    </div>
</div>

        
        <script type="text/javascript">
         $(function () {
                 $('#datetimepicker1').datetimepicker({
                     format: 'YYYY-MM-DD hh:mm'
                });
                 $('#datetimepicker2').datetimepicker({
                     format: 'YYYY-MM-DD hh:mm'
          });
            });
        </script>
